combobox *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

combobox {
  .host {
    position: relative;
    margin-top: 2px;
    margin-bottom: 3px;

    &:active {
      outline: none;
    }
  }
}

@import "combobox";
@import "auto-complete";
